fastapi
uvicorn
NumPy
Pandas
Matplotlib
SciPy
Scikit-learn
Keras
Requests
debugpy
openpyxl
xlrd
lxml
sqlalchemy
dotenv
psycopg2-binary
debugpy
pydantic
pydantic-settings
email-validator
passlib[bcrypt]==1.7.4
bcrypt==4.3.0